body {
    background-image: url("station.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    width: 90%;
    max-width: 600px; /* Larger max-width for desktop */
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    width: calc(100% - 40px);
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

#increment-btn {
    background: #2C2891;
}

#save-btn {
    background: #1C7947;
}

#save-el {
    font-weight: bold;
    margin-top: 20px;
}

#error {
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: none;
        padding: 20px;
        margin: 20px;
        border-width: 2px;
    }

    h2 {
        font-size: 1.5em;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 1em;
    }

    #error {
        font-size: 1em;
    }
}
